.terminalTheme{
    color: limegreen;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 300;
    font-size: 14px;
    background-color: black;
    border-color: black;
}

@keyframes blink{
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

#cursor{
    width: 14px;
    animation: blink 1s cubic-bezier(1, 0, 0, 1) infinite;
}

#secret{
    position: relative;
    bottom: 100%;
    right: 100%;
    background: transparent;
    border: none;
    outline: none
}